html {
    background-color: whitesmoke;
}

body {
    text-align: center;
    color:black;
    font-size: 24px;
    border: 40px solid #A52E2C; 
    border-radius: 10px;
}

h1 {
    padding-bottom: 30px;
    text-align: center;
    font-family: 'bangers';
    font-size: 45px;
    letter-spacing: 5px;
}

h2 {
    font-size: 38px;
    font-family: 'special elite';
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 5px;
}

h3 {
    font-size: 30px;
    padding-top: 30px;
    font-family: 'el messiri';
    padding-bottom: 30px;
    letter-spacing: 5px;
}

#border {
    height: 100px;
    width: 100px;    
    border: 10px solid #2C7BA5;
    border-radius: 10px;
    display: inline-block;
}

#body-border {
    height: 100px;
    width: 100px;    
    border: 40px solid #A52E2C;
    border-radius: 10px;
    display: inline-block;
    margin: 10px auto;
}

#rowdy-red {
    height: 100px;
    width: 100px;
    background-color: #A52E2C;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}

#organic-orange {
    height: 100px;
    width: 100px;
    background-color: #A57F2C;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}

#baseball-blue {
    height: 100px;
    width: 100px;
    background-color: #2C7BA5;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}

#special-elite {
    font-family: 'Special elite';
    width: auto;
    display: inline-block;
}

#bangers {
    font-family: 'Bangers';
    letter-spacing: 2px;
    width: auto;
    display: inline-block;
}

#el-messiri {
    font-family: 'el messiri';
    width: auto;
    display: inline-block;
}

.styles-table {
    width: auto;
    border: 10px solid #2C7BA5;
    border-radius: 10px;
    margin: 10px auto;
    display: inline-block;
    padding: 10px;
}

#button {
    height: 50px;
    width: 200px;
    background-color: #A57F2C;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    font-family: 'el messiri';
    color:black;
    margin: 10px auto;
}
